@model IEnumerable<eCommerce.Entities.Model.MenuItem>
@{
    ViewBag.Title = "Index";
}

@foreach (var groupp in Model.GroupBy(item => item.Menu.Restaurant.Name))
{
    <div class="jumbotron-fluid" style="background-image: url(https://cdn.yemeksepeti.com/App_Themes/SiteHeaders/Yemeksonuc.jpg);height: 100px;background-size: cover">
        <div class="container" style="text-align:left; padding-top:18px">
            @foreach (var a in Model.GroupBy(x => x.Menu.Restaurant.City.CityName))
            {
                <h4 style="color:#191919">@a.Key @groupp.Key</h4>

                <p class="lead" style="font-size:15px;color:orange"><b>@groupp.Key </b> <i class="fa fa-arrow-right "></i> <b style="color:black">Menüler</b>  </p>
            }
        </div>
    </div>


    <div class="container mt-4">

        <div class="row">
            <div class="col-md-3">
                @Html.Action("mGetCart","Cart")

            </div>


            <div class="col-md-9">
                @foreach (var group in Model.GroupBy(item => item.Menu.MenuTitle))
                {
                    <div class="container mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="6">@group.Key</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in group)
                                            {
                                                <tr>
                                                    <td><img src="https://dummyimage.com/50x50/a5c53/fff&text=8.5" /> </td>
                                                    <td style="font-size:17px;color:black"><strong>@item.MenuItemTitle</strong></td>
                                                    <td style="font-size:13px">@item.MenuItemDescription</td>
                                                    <td style="width:15%"><input class="form-control text-center" type="text" value="1" /></td>
                                                    <td class="text-right">@item.MenuItemPrice €</td>
                                                    @using (Html.BeginForm("AddToCart", "Cart", new { id = item.MenuItemID }))
                                                    {
                                                        <td> <button type="submit" class="btn-sm btn-success"><i class="fa fa-plus"></i></button></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @*<div class="restaurantDetailBox None " id="menu_0">
                        @foreach (var group in Model.GroupBy(item => item.Menu.MenuTitle))
                        {
                            <div class="head white">
                                <h2><b>@group.Key</b></h2>
                                <hr />
                                <div class="description"></div>
                            </div>
                            foreach (var item in group)
                            {
                                <div class="listBody">
                                    <div class="row">
                                        <div class="product col-md-3" style="margin-right:-100px">
                                            <div class="row">
                                                <input type="number" class="form-control text-center" value="1" style="width:25%">

                                                <button type="submit" class="btn-sm btn-secondary"><i class="fa fa-plus"></i></button>


                                            </div>
                                        </div>
                                        <div class="product col-md-7">
                                            <div class="product-info">
                                                <a href="#" style="font-size:18px;color:grey"><strong>@item.MenuItemTitle</strong></a>
                                            </div>
                                            <div class="product">
                                                <p style="font-size:12px"> @item.MenuItemDescription</p>
                                            </div>
                                        </div>
                                        <div class="product-price col-md-2">
                                            <span class="price">@item.MenuItemPrice TL</span>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            }
                        }
                    </div>*@
            </div>
        </div>
    </div>}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       if('@TempData["message"]' == "Added"){
          toastr.success('Added');
       }
       else{ }
    });
</script> 